<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>BigQuery project</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style type="text/css">
    th,td {
      text-align: right;
    }
  </style>
</head>
<body>
  <div class="container" id="app">
    <table style="width:100%; margin-top: 50px;"><tr>
      <td style="width:200px; border-right: 1px solid black; vertical-align: top;">
        <div class="list-group" style="padding-right: 10px;">
          <a href="#"
             @click="tab='import_bigquery'"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Import BigQuery
          </a>
          <a href="#"
             @click="tab='install_date'"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Install Date
          </a>
        </div>
      </td>
      <td>

        <div v-if="tab=='welcome'" style="padding-left: 10px;">
          Welcome screen
        </div>

        <div v-if="tab=='import_bigquery'" style="padding-left: 10px;">
          <table class="table table-sm table-striped" style="width: 300px;">
            <tbody>
              <tr>
                <th>Date</th>
                <th>Count</th>
              </tr>
              <tr v-for="row in import_bigquery">
                <td>{{ row.event_date }}</td>
                <td>{{ row.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-if="tab=='install_date'" style="padding-left: 10px;">
          <table class="table table-sm table-striped">
            <tbody>
              <tr>
                <th>Install Date</th>
                <th>User Pseudo Id</th>
                <th>Country</th>
              </tr>
              <tr v-for="row in install_date">
                <td>{{ row.user_first_touch_timestamp }}</td>
                <td>{{ row.user_pseudo_id }}</td>
                <td>{{ row.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </td>
    </tr></table>
  </div>
</body>

<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/es6-promise.min.js"></script>
<script src="/js/es6-promise.auto.min.js"></script>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: function() {
      return {
        tab: 'welcome',
        password: '123456',
        import_bigquery: '',
        install_date: ''
      }
    },
    methods: {
      report_import_bigquery: function() {
        var self = this
        self.import_bigquery = ''
        var params = new FormData()
        params.append('password', this.password)
        axios.post('/cgi/report_import_bigquery.pl')
             .then( function(data) {
               self.import_bigquery = data.data
             })
      },
      report_install_date: function() {
        var self = this
        self.install_date = ''
        var params = new FormData()
        params.append('password', this.password)
        axios.post('/cgi/report_install_date.py', params)
             .then( function(data) {
               self.install_date = data.data
             })
      }
    },
    watch: {
      tab: function(tab) {
        if (tab == 'import_bigquery') {
          this.report_import_bigquery()
        } else if (tab == 'install_date') {
          this.report_install_date()
        }
      }
    }
  })
</script>
</html>
