<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <title>BigQuery project</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style type="text/css">
    th,td {
      text-align: right;
    }
  </style>
</head>
<body>
  <div class="container" id="app">
    <table style="width:100%; margin-top: 50px;"><tr>
      <td style="width:200px; border-right: 1px solid black; vertical-align: top;">
        <div class="list-group" style="padding-right: 10px;">
          <a href="javascript:void(0)"
             @click="report_import_bigquery()"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Import BigQuery
          </a>
          <a href="javascript:void(0)"
             @click="report_install_date()"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Install Date
          </a>
          <a href="javascript:void(0)"
             @click="report_csv('report_new_installs.pl', 'width: 300px;')"
             class="list-group-item list-group-item-action"
             style="border:none;">
            New Installs
          </a>
          <a href="javascript:void(0)"
             @click="report_csv('report_uninstalls.pl', 'width: 300px;')"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Uninstalls
          </a>
          <a href="javascript:void(0)"
             @click="report_csv('report_active_users.pl', 'width: 300px;')"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Active users
          </a>
          <a href="javascript:void(0)"
             @click="report_csv('report_days_used.pl', 'width: 100%;')"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Days used
          </a>
          <a href="javascript:void(0)"
             @click="report_csv('report_campaigns.py', 'width: 100%;')"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Campaigns
          </a>
          <a href="javascript:void(0)"
             @click="report_csv('report_countries.py', 'width: 100%;')"
             class="list-group-item list-group-item-action"
             style="border:none;">
            Countries
          </a>
        </div>
      </td>
      <td style="vertical-align: top;">

        <div v-if="tab=='welcome'" style="padding-left: 10px;">
          Welcome screen
        </div>

        <div v-if="tab=='import_bigquery'" style="padding-left: 10px;">
          <table class="table table-sm table-striped" style="width: 300px;">
            <tbody>
              <tr>
                <th>Date</th>
                <th>Count</th>
              </tr>
              <tr v-for="row in import_bigquery">
                <td>{{ row.event_date }}</td>
                <td>{{ row.count }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-if="tab=='install_date'" style="padding-left: 10px;">
          <table class="table table-sm table-striped">
            <tbody>
              <tr>
                <th>Install Date</th>
                <th>User Pseudo Id</th>
                <th>Country</th>
              </tr>
              <tr v-for="row in install_date">
                <td>{{ row.user_first_touch_timestamp }}</td>
                <td>{{ row.user_pseudo_id }}</td>
                <td>{{ row.country }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div v-if="tab=='report_csv'" style="padding-left: 10px;">
          <h4 style="text-align: left">{{ csv_params.Title }}</h4>
          <div style="text-align: left">
            <a :href="'/cgi/' + csv_filename"
               target="_blank">Download .CSV</a>
          </div>
          <table class="table table-sm table-striped" :style="csv_style">
            <tbody>
              <tr>
                <th v-for="column_name in csv_header">
                  {{ column_name }}
                </th>
              </tr>
              <tr v-for="row in csv_data">
                <td v-for="column_value in row">
                  {{ column_value }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </td>
    </tr></table>
  </div>
</body>

<script src="/js/vue.js"></script>
<script src="/js/axios.min.js"></script>
<script src="/js/es6-promise.min.js"></script>
<script src="/js/es6-promise.auto.min.js"></script>

<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: function() {
      return {
        tab: 'welcome',
        password: '123456',
        import_bigquery: '',
        install_date: '',
        csv_params:   {},
        csv_header:   [],
        csv_data:     [],
        csv_style:    '',
        csv_filename: ''
      }
    },
    methods: {
      report_import_bigquery: function() {
        this.tab = 'import_bigquery'
        var self = this
        self.import_bigquery = ''
        var params = new FormData()
        params.append('password', this.password)
        axios.post('/cgi/report_import_bigquery.pl')
             .then( function(data) {
               self.import_bigquery = data.data
             })
      },
      report_install_date: function() {
        this.tab = 'install_date'
        var self = this
        self.install_date = ''
        var params = new FormData()
        params.append('password', this.password)
        axios.post('/cgi/report_install_date.py', params)
             .then( function(data) {
               self.install_date = data.data
             })
      },
      read_csv: function(csv) {
        var params = {}
        var header = []
        var data   = []

        for(var line of csv.split('\n')) {
          line = line.trim()
          if (line) {
            if (line[0] === '#') {
              var index = line.indexOf(':')
              if (index > 0) {
                var key = line.substring(1,index).trim()
                var value = line.substring(index+1).trim()
                params[key] = value
              }
            } else {
              var line_arr = []

              var infinite_line = line + 'AB'
              while(line && line.length < infinite_line.length) {
                infinite_line = line
                line=line.trim()

                if (line[0] === '"') {
                  line = line.substring(1)
                  var index = line.indexOf('"')
                  if (index >= 0) {
                    var value = line.substring(0, index)
                    line = line.substring(index+1)
                    var index_comma = line.indexOf(',')
                    if (index_comma >= 0) {
                      line = line.substring(index_comma+1)
                    } else {
                      line = ''
                    }
                    line_arr.push( value )

                  } else {
                    line = line.trim()
                    line_arr.push(line)
                    line = ''
                  }

                } else {
                  var index_comma = line.indexOf(',')
                  if (index_comma >= 0) {
                    var value = line.substring(0, index_comma)
                    line_arr.push(value)
                    line = line.substring(index_comma+1)
                  } else {
                    line_arr.push(line)
                    line = ''
                  }
                }
              }

              if (header.length == 0) {
                header = line_arr
              } else {
                data.push( line_arr )
              }
            }
          }
        }

        return { params: params,
                 header: header,
                 data: data }
      },
      read_csv_test: function(foo) {
        console.log( this.read_csv('').header )
        console.log( '>[]' )

        console.log( this.read_csv('one').header )
        console.log( '>["one"]' )
        console.log( this.read_csv('one,two').header )
        console.log( '>(2) ["one", "two"]' )
        console.log( this.read_csv('one,two,three').header )
        console.log( '>(3) ["one", "two", "three"]' )
        console.log( this.read_csv(' one,two , three ,four ').header )
        console.log( '>(4) ["one", "two ", "three ", "four"]' )

        console.log( this.read_csv('"one"').header )
        console.log( '>["one"]' )
        console.log( this.read_csv('"one","two"').header )
        console.log( '>(2) ["one", "two"]' )
        console.log( this.read_csv('"one",two,"three"').header )
        console.log( '>(3) ["one", "two", "three"]' )
        console.log( this.read_csv('" one","two "," three ","four "').header )
        console.log( '>(4) ["_one", "two_", "_three_", "four_"]' )
        console.log( this.read_csv('"one","two,three","four"').header )
        console.log( '>(3) ["one", "two,three", "four"]' )
      },
      report_csv: function(filename, style='') {
        this.tab = 'report_csv'
        this.csv_filename = filename
        this.csv_style = style
        this.csv_params = {}
        this.csv_header = []
        this.csv_data   = []
        var self = this
        var params = new FormData()
        params.append('password', this.password)
        axios.post('/cgi/' + filename, params)
             .then( function(data) {
               var csv = self.read_csv(data.data)
               self.csv_params = csv.params
               self.csv_header = csv.header
               self.csv_data = csv.data
             })
      }
    }
  })
</script>
</html>
